.ghost {
  animation: ghost 2.5s ease-in-out infinite both;
  @keyframes ghost {
      0% {
        transform: translateY(20px);
      }
      50% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(20px);
      }
  }
}
